.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  display: flex;
  position: absolute;
  width: 877px;
  height: 877px;
  top:0px;
  right: -210px;
  background-size: cover;
  animation: rotation linear 20s infinite;
}